<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<!--  <link rel="stylesheet" type="text/css" href="css/top.css">-->
<link rel="stylesheet" media="all" th:href="@{/css/top.css}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>users_TOP画面</title>
</head>
<body>
<h2>TOP画面</h2>

    <form method="POST" name="user" action="/top" accept-charset="UTF8" th:value="result">
    <div th:each="list:${list}">
        <input type="submit" onclick="dataDelete('user')" name="user" th:value="${list.id}">
        <input type="submit" th:value="${list.id}">
        <a href="/input" >ID</a><span th:text="${list.id}"></span>
        <a>年齢</a><span th:text="${list.age}"></span>
        <a>名前</a><span th:text="${list.name}"></span><button onclick="dataDelete('user')">削除</button>
    </div>

    </form>

    <button onclick="location.href='./details'">詳細</button>
    <button onclick="location.href='./input'">登録</button>

    <!--
    <a class="btn btn-default" href="/User/${list.id}" th:href="@{/User/{id}(id=${list.id})}" th:text="${item.id}">1</a>
    <a href="javascript:void(0);" onclick="destory_func();">削除</a>
     -->

     <button onclick="dataDelete('user')">削除</button>

<script th:inline="javascript">


function dataDelete(name){
      //ラジオボタンオブジェクトを取得する
      var submits = document.getElementsByName(name);

      //取得したラジオボタンオブジェクトから選択されたものを探し出す
      var result;
      for(var i=0; i<submits.length; i++){
        if (submits[i].checked) {
          //選択されたラジオボタンのvalue値を取得する
          result = submits[i].value;
          break;
        }
      }

      //value値を表示する
      alert("idは" + result + "です");
      console.log(result);
    //ラジオボタンをformにまぜて行っていきます。

    doucument
}

</script>
</body>
</html>

