<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<!--  <link rel="stylesheet" type="text/css" href="css/top.css">-->
<link rel="stylesheet" media="all" th:href="@{/css/top.css}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TOP画面</title>
</head>
<body>
<h2>TOP画面</h2>
    <div th:each="list:${list}">
        <form method="GET" name="del" action="top/delete/{${list.id}" th:action="@{/top/delete/{id}(id=${list.id})}">
            <a class="btn btn-warning" href="top/detail/${list.id}" th:href="@{/top/detail/{id}(id=${list.id})}">ID</a>
            <span th:text="${list.id}"></span>

            <Label>年齢</Label>
            <span th:text="${list.age}"></span>

            <Label>名前</Label>
            <span th:text="${list.name}"></span>

            <input type="submit"value="削除ボタン" class="btn btn-warning"  th:href="@{/top/delete/{id}(id=${list.id})}">
        </form>
        <input type="hidden" th:id="${list.id}">
    </div>

    <!-- 直前のページに戻る -->
    <input type="button" onclick="history.back()" value="戻る">
    <button onclick="location.href='top/input'">登録</button>

<script th:inline="javascript">
//データ取得
//function deleteData(id){
//    var button= document.getElementById(id).value;
//    alert(button);
//    document.del.submit("button");
//}
</script>
</body>
</html>

